<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Aanmelden nieuw bedrijf</title>
</head>
<body>
<h1>Aanmelden nieuw bedrijf</h1>
<h3>Vul hieronder de gegevens in van het bedrijf dat u wilt aanmelden:</h3><br>
<form th:action="@{?}" method="post" th:object="${?}">
    <table>
        <tr>
            <td>BTW-nummer</td>
            <td><input th:field=""></td>
        </tr>
        <tr>
            <td>KvK-nummer</td>
            <td><input th:field=""></td>
        </tr>
        <tr>
            <td>Bedrijfsnaam</td>
            <td><input th:field=""></td>
        </tr>
        <tr>
            <td>Sector</td>
            <td>
                <p><select id="sector" name="Sector">
                    <option value="Ag" selected="selected">Agrarische sector</option>
                    <option value="Bo">Bouw</option>
                    <option value="De">Detailhandel</option>
                    <option value="Gr">Groothandel</option>
                    <option value="Ho">Horeca</option>
                    <option value="In">Industrie</option>
                    <option value="On">Onderwijs</option>
                    <option value="Ov">Overheid</option>
                    <option value="Tr">Transport</option>
                    <option value="Za">Zakelijke dienstverlening</option>
                    <option value="Zo">Zorg</option>
                </select></p>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td><td></td><td><input type="submit" name="submit", value="Bedrijf aanmelden"></td>
        </tr>
    </table>
</form>




</body>
</html>