<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    table {
       alignment: left;
    }
    td{
        width: 100px;
    }
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        width: 300px;
    }
    thead {font-size: 8px}

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>rekeningoverzicht</title>
    <img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque" class="logolink" width="80" height="45">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
</head>
<h1>Welkom <span>th:text="${name}"</span></h1>
<br/>
<br/>
<br/>
<body>
<tr>
    <td>
        <button onclick="document.location = '/wijzigen-rekening'">Wijzigen gegevens</button>
    </td>
    <td>
        <button onclick="document.location = '/rekening-openen'">Rekening openen</button>
    </td>
    <td>
        <button onclick="document.location = '/rekening-koppelen'">Rekening koppelen</button>
    </td>
    <td>
        <button onclick="document.location = '/'">Uitloggen</button>
    </td>
</tr>

<br/><br/>
<h1>Hier vindt u het overzicht van uw rekening(en).</h1>
<br/>
<br/>
<br/>



<table>
    <h1>Zakelijke rekeningen</h1>
    <tr>
        <td>IBAN</td>
        <td>Rekeninghouder</td>
        <td>Saldo</td>
    </tr>
    <tr>
        <td><span th: text="${affix}"/> <span th: text="${surname}"/></td>
        <td><span th: text="${iban}"/></td>
        <td><span th: text="${balanceCent}"/></td>
    </tr>
</table>

<table>
    <h1>Prive rekeningen</h1>
    <tr>
        <td>IBAN</td>
        <td>Bedrijf</td>
        <td>Saldo</td>
    </tr>
    <!--    <tr>-->
    <!--        <td><span th: text="${iban}"/></td>-->
    <!--        <td><span th: text="${companyaffix}"/> <span th: text="${surname}"/></td>-->
    <!--        <td><span th: text="${balanceCent}"/></td>-->
    <!--    </tr>-->
</table>
</body>