<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bevestig uw gegevens - Parque Banque</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        div > div {
            width: 335px;
            display: inline-block;
            margin: 0px;
        }

        label {
            float: right;
        }

        span {
            float: left;
            margin: 5px;
        }

        div > div:nth-of-type(2) {
            color: #666666;
            font-weight: bold;
        }

    </style>
</head>
<body>

    <header class="pbMenu">
        <nav class="pbMenu-homeNav">
            <a href="/" class="pbMenu-logoLink"><img th:src="@{logo-small.png}" class="logolink" width="162.8" height="41.6"></a>
        </nav>
    </header>

    <h1>Bevestig uw gegevens</h1>
    <p style="margin-bottom: 5px;">Controleer uw gegevens zorgvuldig. Klik op Wijzig gegevens als u iets wilt veranderen.</p>
    <p style="margin-bottom: 5px;">Als u alles correct hebt ingevuld, klik dan op Volgende om een account aan te maken</p>
    <form th:action="@{/klant-worden}" th:object="${signupform}" method="post">

        <div>
            <p>PERSOONSGEGEVENS</p>
            <div>
                <label for="firstName">Voornaam</label>
            </div>
            <div>
                <span id="firstName" th:text="${signupform.firstName}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="infix">Tussenvoegsel</label>
            </div>
            <div>
                <span id="infix" th:text="${signupform.infix}"></span>
<!--                <span id="infix" th:text="${signupform.infix}?: 'd'"></span>-->
            </div>
        </div>
        <div>
            <div>
                <label for="lastName">Achternaam</label>
            </div>
            <div>
                <span id="lastName" th:text="${signupform.lastName}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="bsn">Burger Service Nummer</label>
            </div>
            <div>
                <span id="bsn" th:text="${signupform.bsn}"></span>
            </div>
        </div>
        <div>
            <p>ADRESGEGEVENS</p>
            <div>
                <label for="street">Straat</label>
            </div>
            <div>
                <span id="street" th:text="${signupform.street}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="number">Huisnummer</label>
            </div>
            <div>
                <span id="number" th:text="${signupform.number}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="addition">Toevoeging</label>
            </div>
            <div>
                <span id="addition" th:text="${signupform.addition}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="zipcode">Postcode</label>
            </div>
            <div>
                <span id="zipcode" th:text="${signupform.zipcode}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="city">Woonplaats</label>
            </div>
            <div>
                <span id="city" th:text="${signupform.city}"></span>
            </div>
        </div>
        <div>
            <p>CONTACTGEGEVENS</p>
            <div>
                <label for="phone">Telefoon nummer</label>
            </div>
            <div>
                <span id="phone" th:text="${signupform.phone}"></span>
            </div>
        </div>
        <div>
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <span id="email" th:text="${signupform.emailAddress}"></span>
            </div>
        </div>
        <div>
            <button type="submit" name="action" value="cancel" formnovalidate>Annuleren</button>
            <button type="submit" name="action" value="edit" style="right: 150px; postion: relative">Wijzig gegevens</button>
            <button type="submit" name="action" value="createaccount" style="float: right">Volgende</button>
        </div>
    </form>
</body>
</html>