<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bevestiging Nieuwe Particuliere Rekening </title>
    <link th:href="@{/css/newprivateaccount.css}" href="../static/css/newprivateaccount.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>

        .IbanSaldo{
            padding-left: 20%;
            font-family: sans-serif;
            margin-top: 6%;
            margin-left: -8%;
            margin-right: 65%;

        }

    </style>
</head>
<body>
<div class="hoofd-div">
    <h1> Gefeliciteerd! U heeft een nieuwe rekening geopend voor
        <span th:if="${businessAccount}" class="businessClass" th:text="${name}"/>
        <span th:if="${privateAccount}" class="privateClass" th:text="${name}"/>
    </h1>
</div>

<div class="sub-div">
    <h3>Detailinformatie nieuwe bankrekening:</h3>
</div>

<div class="IbanSaldo" >
    <h2>IBAN: <span th:text="${iban}" /></h2>
    <h2>Saldo: <span th:text="${balanceCent}" /></h2>
</div>


<div class="knop-div">
    <form action="/rekening-overzicht">
        <input type="submit" value="Rekeningoverzicht" id="bevestigen">
    </form>
</div>
</body>
</html>