<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lisa Kemeling">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>new transaction</title>
</head>
<body>
<!-- navigatie-->
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class="nav-link"><a  href="/contact">Contact</a></li>
        <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
        <li class="nav-link"><a  href="/rekening-overzicht">Rekeningoverzicht</a></li>
    </ul>
</nav>

    <!-- main-content-->
    <main>
        <form action="#" th:action="@{/overboeken}" th:object="${transactionInput}" method="post" >
            <fieldset>
                <legend>Kloppen onderstaande gegevens? </legend>
                <div>
                    <label for="amount">Bedrag</label>
                    <input th:field="*{amount}" id="amount" type="text" disabled>
                    <label for="cents">,</label>
                    <input th:field="*{cents}" id="cents" type="text" disabled>
                </div>
                <div>
                    <label  for="iban">Rekeningnummer (IBAN) ontvanger</label>
                    <input th:field="*{ibanCreditAccount}" id="iban" type="text" disabled>
                </div>
                <div>
                    <label for="description">Omschrijving</label>
                    <input th:field="*{description}" id="description" type="text" disabled>
                </div>
            </fieldset>
            <button th:type="submit" name="action" value="send">Verzenden</button>
            <button th:type="submit" name="action" value="back">Terug</button>
        </form>
    </main>


</body>
</html>