<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bevestiging Nieuwe Particuliere Rekening Geopend</title>
</head>
<body>
<a href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque" class="logolink" width="80px" height="45px"></a>
<h1> Gefeliciteerd! U heeft een nieuwe rekening geopend!</h1>
    <h2>Detailinformatie nieuwe bankrekening</h2>
    <h1>IBAN: <span th:text="${iban}" /></h1>
    <h1>Saldo: <span th:text="${balanceCent}" /></h1>
</body>
</html>