<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aangemaakt bedrijf bevestigen</title>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link th:href="@{/css/company.css}" href="../static/css/company.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navigation">
    <ul>
        <li class= "logo-link">
            <a id="logo" href="/">
                <img src="../static/logo-small.png" th:src="@{/logo-small.png}" alt="parque banque"></a></li>
        <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
        <li class="nav-link"><a  href="/rekening-overzicht">Rekeningoverzicht</a></li>

    </ul>
</nav>

    <div id="form">
        <form th:action="@{/nieuw-bedrijf-aanmaken}" method="post" th:object="${companyFormBean}">
            <h1>Klopt het allemaal? </h1>

            <ul>
                <li>
                    <label for="kvkNr">KvK-nummer</label>
                    <input id="kvkNr" type="text" class="field" th:field="${companyFormBean.kvkNr}"/>
                </li>
                <li>
                    <label for="btwNr">Btw-nummer</label>
                    <input id="btwNr" type="text" class="field" readonly th:field="${companyFormBean.btwNr}"/>
                </li>
                <li>
                    <label for="bedrijfsNaam">Bedrijfsnaam</label>
                    <input id="bedrijfsNaam" type="text" class="field" readonly th:field="${companyFormBean.companyName}"/>
                </li>
                <li>
                    <label for="sector">Sector</label>
                    <input id="sector" type="text" class="field" readonly th:field="${sector.name}"/>
                </li>
            </ul>

            <button type="submit" name="action" value="rekeningOpenen">Ja! Rekening openen</button>
            <button type="submit" name="action" value ="wijzigBedrijfsinformatie"> Bijna, aanpassen</button>
            <button type="submit" name="action" value="annulerenGaNaarRekeningoverzicht" formnovalidate>
                Annuleren, naar rekeningoverzicht</button>

        </form>
    </div>

</body>
</html>