<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lisa Kemeling">

    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Contact</title>
    <style>
        #contact-content{
            margin-left: 25px;
        }
        
    </style>
</head>
<body>

<!-- navigatie-->
    <nav class="navigation">
        <ul>
            <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
            <li class="nav-link"><a  href="/inloggen">Inloggen</a></li>
            <li class="nav-link"><a  href="/klant-worden">Klant worden</a></li>
            <li class="nav-link"><a  href="/contact">Contact</a></li>   
        </ul>
    </nav>

<!-- body -->
<main>
    <div id="contact-content">
        <h1>Parque Banque <img src="../static/green-heart.png" th:src="@{green-heart.png}" width="74px" height="74px"> van klanten</h1>
        <p>Daarom is zaken doen met ons 'like a walk in the park'</p>

        <h2>Online</h2>
        <p>
            Een nieuwe betaalrekening opent u bij ons gemakkelijk online<br>
            Overboeken? 24/7 beschikbaar met enkele klikken heeft u het geregeld!<br>
        </p>
        <h2>Bezoekadres</h2>
        <p>
            Bij ons is iedereen altijd welkom!<br>
            Er zit een medewerker voor u klaar op één van onze Parque Banques
        </p>
        <address>
        Parque Banque<br>
        Parklaan 1056<br>
        1919 CO Bankert <br>
        </address>
    </div>
</main>


<!-- footer -->
<footer class="footer">
    <div class="content-container">
        <ul class= "footer-list">
            <li><a class= list-link href="/inloggen">Inloggen</a></li>
            <li><a class= list-link href="/klant-worden">Klant worden</a></li>
            <li><a class= list-link href="/rekening-openen">Rekening openen</a></li>
            <li><a class= list-link href="/personeel">inloggen personeel</a></li>
        </ul>
    <div id="footer-address">
        <address>
            Parque Banque<br>
            Parklaan 1056<br>
            1919 CO Bankert <br>
        </address>
    </div>

    <div id="footer-license">© 2020 Parque Banque door team 2 | kvk 20016354 </div>
    </div>
</footer>




</body>
</html>