<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maak account - Parque Banque</title>
    <script>
        function Validate() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmpassword").value;
            if (password !== confirmPassword) {
                document.getElementById("passMismatch").style.display = "inline";
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Vul gebruikersnaam een wachtwoord in</h1>
    <form action="#" th:action="@{/klant-worden}" th:object="${createLoginFormBean}" method="post">
        <table>
            <tr>
                <td> <label for="username">Gebruikersnaam</label></td>
                <td> <input id="username" type="text" required pattern="[A-Za-z0-9]{5,}" th:field="*{username}"
                            oninvalid="setCustomValidity('Gebruikersnaam moet minimaal 5 tekens lang zijn')"
                            oninput="setCustomValidity('')" /> </td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Gebruikersnaam bestaat al!</td>
            </tr>
            <tr>
                <td> <label for="password">Wachtwoord</label></td>
                <td> <input id="password" type="password" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%?&]{8,}$"
                            th:field="*{password}"
                            title="Wachtwoord moet minstens 8 tekens lang zijn, en in elk geval een hoofdletter, een kleine letter, een cijfer een een speciaal teken (@$!%?&) bevatten"
                            oninvalid="setCustomValidity('Wachtwoord moet minstens 8 tekens lang zijn, en in elk ' +
                             'geval een hoofdletter, een kleine letter, een cijfer een een speciaal teken (@$!%?&) ' +
                              'bevatten')"
                            oninput="setCustomValidity('')" /> </td>
            </tr>
            <tr>
                <td> <label for="confirmpassword">Bevestig wachtwoord</label> </td>
                <td> <input id="confirmpassword" type="password" required /> </td>
                <td> <span id="passMismatch" style="display: none; color: red">Wachtwoorden zijn niet gelijk!</span></td>
            </tr>
            <tr>
                <td> </td>
                <td> <button type="submit" name="action" value="finish" onclick="return Validate()">Klaar</button></td>
            </tr>
            <tr>
                <td> <button type="submit" name="action" value="cancel" formnovalidate>Annuleren</button> </td>
            </tr>
        </table>
    </form>
</body>
</html>