<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Helaas</title>
</head>
<body >
    <h1>Helaas!</h1>

    <form th:action="@{/klant-worden}" th:object="${createLoginFormBean}" method="post">
        <p>De gebruikersnaam <span th:text="${createLoginFormBean.username}">username</span> bestaat al...</p>
        <p>Kies een andere gebruikersnaam.</p>
        <button type="submit" name="action" value="createaccount">Terug</button>
    </form>
</body>
</html>