<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepagina medewerkers</title>
</head>
<body>
<a href="/uitloggen">Uitloggen</a>
<br>
    <h1>Welkom terug <span th:text="${employee.firstName}"></span></h1>

    Pagina's voor <span th:text="${employee.role.name}"></span>:
    </br>

    <a th:if="${employee.role.id} eq '1'" class="private" href="/overzicht-particulier">Overzicht particulieren</a>

    <a th:if="${employee.role.id} eq '2'" class="business"  href="/overzicht-bedrijven">Overzicht MKB</a>
</body>
</html>