<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lisa Kemeling">
    <meta name="description" content="Parque Banque biedt een online applicatie waar u gemakkelijk en snel
    rekeningen opent en transacties verricht. Zowel voor uw onderneming als prive.">

    <!-- should show logo and text when shared on slack/facebook-->
    <meta property="og:image" content="../static/logo-small.png" th:src="@{logo-small.png}">
    <meta property="og:description" content="Parque Banque biedt een online applicatie waar u gemakkelijk en snel
    rekeningen opent en transacties verricht. Zowel voor uw onderneming als prive.">
    <meta property="og:title" content="Parque Banque">

    <!-- LINK tot stylesheet and fonts -->
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <title>Home</title>
</head>
<body>
    <div class="page-content">

<!-- navigatie-->
    <nav class="navigation">
        <ul>
            <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
            <li class="nav-link"><a  href="/inloggen">Inloggen</a></li>
            <li class="nav-link"><a  href="/klant-worden">Klant worden</a></li>
            <li class="nav-link"><a  href="/contact">Contact</a></li>   
        </ul>
       
    </nav>

<!-- body -->
<main class="main">
    <div class="main-content">
        <img src="../static/parque-banque-logo.jpg" th:src="@{parque-banque-logo.jpg}" alt="parque banque" width="1000" height="165">

<h1>Welkom bij Parque Banque!</h1>
    </div>
</main>

<!-- footer -->
<footer class="footer">
    <div class="content-container">
        <ul class= "footer-list">
            <li><a class= list-link href="/inloggen">Inloggen</a></li>
            <li><a class= list-link href="/klant-worden">Klant worden</a></li>
            <li><a class= list-link href="/rekening-overzicht">Rekening openen</a></li>
            <li><a class= list-link href="/personeel">inloggen personeel</a></li>
        </ul>
    <div id="footer-address">
        <address>
            Parque Banque<br>
            Parklaan 1056<br>
            1919 CO Bankert <br>
        </address>
    </div>

    <div id="footer-license">© 2020 Parque Banque door team 2 | kvk 20016354 </div>
    </div>
</footer>
</div>
</body>
</html>
