<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Voeg rekening toe</title>
</head>
<body>
    <h1>Vul hier het rekeningnummer en de code in die u heeft gekregen van de rekeninghouder.</h1>
    <form th:action="@{/rekening-toevoegen}" th:object="${linkAccountFormBean}" method="post">
       <label for="iban">Rekeningnummer:</label>
       <input type="text" id="iban" name="iban" autofocus="autofocus"/></form>

        <label for="securitycode">Beveiligingcode:</label>
        <input type="text" id="securitycode" name="securitycode" autofocus="autofocus"/>

        <input type="submit" value="OK"/>
</form>
</body>
</html>