<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Werknemer</title>

    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        h1 {
            margin-bottom: 20px;
        }
        .login-form {
            background: #FFFFFF;
            border: thick solid #37ad49;
        }
        .error {
            border-radius: inherit;
            margin-bottom: 10px;
        }
        input[type=text], input[type=password] {
            border-radius: 10px;
            border: thin solid #545454;
        }
    </style>

</head>
<body>
    <!-- navigatie-->
    <nav class="navigation">
        <ul>
            <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
            <li class="nav-link"><a  href="/contact">Contact</a></li>
            <li class="nav-link"><a  href="/klant-worden">Klant worden</a></li>
            <li class="nav-link"><a  href="/inloggen">Inloggen</a></li>
        </ul>

    </nav>

    <!-- body -->
    <form class="login-form" th:action="@{/personeel}" th:object="${loginemployee}" method="post">
        <h1>Login Werknemer</h1>
        <p th:if="${invalidCredentials}" class="error" style="display: inline-block">De combinatie tussen personeelsnummer en wachtwoord is onjuist. Probeer het opnieuw. </p>

        <label for="employeeNumber">Personeelsnummer</label> <br/>
        <input type="text" id="employeeNumber" name="employeeNumber" required
               pattern="[0-9]{1,}" title="Het personeelsnummer bestaat uit cijfers."/>
        <br/>

        <label for="password">Wachtwoord</label> <br/>
        <input type="password" id="password" name="password" required/>
        <br/> <br/>

        <input class="loginbutton" type="submit" value="Log In"/>
    </form>
</body>
</html>