<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Klant</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 225px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 225px;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <p th:if="${invalidCredentials}" class="error">De combinatie tussen gebruikersnaam en wachtwoord is onjuist. Probeer het opnieuw. </p>

    <form th:action="@{/inloggen}" th:object="${logincustomer}" method="post">
        <label>Gebruikersnaam</label> <br/>
        <input type="text" id="userName" name="userName" required />
        <br/>

        <label>Wachtwoord</label> <br/>
        <input type="password" id="password" name="password" required />
        <br/> <br/>

        <input type="submit" value="Log In"/>
        <br/> <br/>

        Nog geen klant? Klik dan <a href="/klant-worden">hier</a> en wordt klant!
    </form>
</body>
</html>