<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login - Parque Banque</title>

    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/park-bench-small.png}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/javascript/logincustomer.js" defer></script>

</head>
<body>
    <!-- navigatie-->
    <nav class="navigation">
        <ul>
            <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
            <li class="nav-link"><a  href="/contact">Contact</a></li>
            <li class="nav-link"><a  href="/klant-worden">Klant worden</a></li>
            <li class="nav-link"><a  href="/inloggen">Inloggen</a></li>
        </ul>
    </nav>

    <!-- body-->
    <form id="form" name="form" class="login-form" th:action="@{/inloggen}" th:object="${logincustomer}" method="post">
        <h1>Login</h1>
        <span th:if="${invalidCredentials}" class="error" style="display:inline-block">De combinatie tussen gebruikersnaam en wachtwoord is onjuist. Probeer het opnieuw.</span>
        <span id="invalidLogin" class="error">De combinatie tussen gebruikersnaam en wachtwoord is onjuist. Probeer het opnieuw.</span>

        <label for="userName">Gebruikersnaam</label> <br>
        <input type="text" id="userName" name="userName"/>
        <span id="usernameEmpty" class="error_small">Vul uw gebruikersnaam in.</span>

        <label for="password">Wachtwoord</label> <br>
        <input type="password" id="password" name="password">
        <span id="passwordEmpty" class="error_small">Vul uw wachtwoord in.</span>
        <br> <br>

        <input id="done" class="loginbutton" type="submit" value="Log In"/>
        <br> <br>

        <div class="text"> Nog geen klant? Klik dan <a href="/klant-worden">hier</a> en wordt klant! </div>
    </form>

</body>
</html>
