<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meest actieve zakelijke klanten - Parque Banque</title>
    <link th:href="@{/css/mkbtable.css}" href="../static/css/mkbtable.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/park-bench-small.png}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class= "nav-link"><a href="/uitloggen">Uitloggen</a></li>
        <li class= "nav-link"><a href="/overzicht-bedrijven">Terug</a></li>
    </ul>
</nav>
<main>
    <br><br><br><br>
    <h2 class="header-left">Transacties</h2>
    <table table class="content-table">
        <thead>
        <tr>
            <th>Nummer</th>
            <th>Naam</th>
            <th>Aantal Transacties</th>
        </tr>
        </thead>
        <tr th:each="key, index : ${mostActiveBusinessAccounts.keySet()}" >
            <td th:text="${key}"></td>
            <td th:text="${mostActiveBusinessAccounts.get(key)[0].firstName} + ' ' + ${mostActiveBusinessAccounts.get(key)[0].affix}
         + ' ' + ${mostActiveBusinessAccounts.get(key)[0].surName}"></td>
            <td th:text="${mostActiveBusinessAccounts.get(key)[1]}"></td>

        </tr>
    </table>
</main>
</body>
</html>