<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zakelijke rekening openen</title>
</head>
<body>
<h1>Open een zakelijke rekening</h1>
<h2>Selecteer het bedrijf waarvoor u een nieuwe rekening wilt openen</h2>
<br>
<form action="#" th:action="@{/open-zakelijke-rekening}" method="post" th:object="${company}">
    <p>
        <label for="company">Bedrijfsnaam</label>
        <select id="company" th:field="*{name}">
            <option th:each="c:${companies}" th:value="${c}" th:text="${c.getName()}"></option>
        </select>
    </p>
    <button type="submit" name="action" value="submit">Bevestig openen rekening</button>
</form>


<p>Wilt u een rekening openen voor een ander bedrijf? Meld dan eerst het bedrijf bij ons aan.</p>
<a href="/bedrijf-aanmaken">Meld hier een nieuw bedrijf aan</a>


</body>
</html>