<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="javascript/confirmwindow.js" defer ></script>
    <link th:href="@{/css/confirmwindow.css}" href="../static/css/confirmwindow.css" rel="stylesheet">
    <title>Nieuwe particuliere rekening - Parque Banque</title>
    <link th:href="@{/css/newprivateaccount.css}" href="../static/css/newprivateaccount.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/park-bench-small.png}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
<div class="hoofd-div">
    <h1>Nieuwe Particuliere Rekening Openen</h1>
</div>

    <div class="content">
<div class="sub-div">
    <h3>Druk op bevestigen om een nieuwe rekening te openen of druk op terug om naar de vorige pagina te gaan.
    </h3>
</div>

<div class="tekst-div">
    <h4>
    Wat kun je van ons verwachten?
    </h4>
    <ul>
        <li><img class="icon" th:src="@{images/rsz_party-hat.png}" alt="feestmuts met confetti"><span>Een rekening open je gemakkelijk door te bevestigen, that's all.</span></li>
        <li><img class="icon" th:src="@{images/rsz_mobile-icon.png}" alt="mobiele telefoon"><span>Direct online inzicht. Je regelt een overboeking gemakkelijk online.</span></li>
        <li><img class="icon" th:src="@{images/rsz_questionmark.png}" alt="vraagteken">Er zit altijd iemand voor je klaar op een van onze Parque Banques</li>
    </ul>
</div>

<div class="knop-div">
    <form class="form" id="form" action="/particuliere-rekening-openen" method="post" th:object="${privateAccount}" >


        <input type="submit" name="submitbutton" value="Bevestigen" id="bevestigen">

        <input type="submit" name="action" value="Terug" id="terug">

    </form>
</div>
        </div>


<script>
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) =>{
        e.preventDefault();
        confirmWindow();
    });

    function confirmWindow(){
        Confirm.open({
            title: 'Bevestig openen particuliere rekening',
            message: 'Wij openen een particuliere rekening voor u. Deze is direct zichtbaar in uw rekeningoverzicht.',
            onok: () => {
                document.getElementById('form').submit();
            }
        });
    }

</script>

</body>
</html>