<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lisa Kemeling">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>new transaction</title>
</head>
<body>
<!-- navigatie-->
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class="nav-link"><a  href="/contact">Contact</a></li>
        <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
        <li class="nav-link"><a  href="/rekening-overzicht">Rekeningoverzicht</a></li>
    </ul>
</nav>
<!-- main-content-->
    <main>
        <form action="#" th:action="@{/overboeken}" th:object="${transactionFormBean}" method="post" >
            <fieldset>
                <legend>Overboeking van rekening <span th:field="${ibanDebitAccount}"></span></legend>
                <div>
                    <label for="amount">Bedrag</label>
                    <input th:field="*{amount}" id="amount" type="text" pattern="\d{0,6}" placeholder="0" size="8" dir="rtl">
                    <label for="cents">,</label>
                    <input th:field="*{cents}" id="cents" type="text" size="2" pattern="\d{2}" placeholder="00">
                    <span th:if="${unsufficientBalance}">U heeft onvoldoende saldo op deze rekening</span>
                </div>
                <div>
                    <label  for="iban">Rekeningnummer (IBAN) ontvanger</label>
                    <input th:field="*{ibanCreditAccount}" id="iban" type="text" placeholder="NLxxPARQ0..." size="18" min="18" max="18">
                    <span th:if="${invalidCreditAccount}">Rekeningnummer is niet bij ons bekend</span>
                </div>
                <div>
                    <!-- hier js voor terugtellen tekens -->
                    <!-- nog het invoervak grote maken -->
                    <label for="description">Omschrijving</label>
                    <input th:field="*{description}" id="description" type="text" max="140" size="18">
                </div>
            </fieldset>
            <button type="submit" name="action" value="next">Volgende</button>
        </form>
    </main>


</body>
</html>