<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Lisa Kemeling">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link th:href="@{/css/transaction.css}" href="../static/css/transaction.css" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/newtransaction.js"></script>
    <title>Overboeken</title>
</head>
<body>
<!-- navigatie-->
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class="nav-link"><a  href="/contact">Contact</a></li>
        <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
        <li class="nav-link"><a  href="/rekening-overzicht">Rekeningoverzicht</a></li>
    </ul>
</nav>
<!-- main-content-->
    <main>
        <div class="container">
            <div class=formheader>
                <h2>Overboeken van rekening <span class="debitIban" th:field="${iban}">NL##PARQ0#########</span></h2>
            </div>
             <form class="form" id="form" action="#" th:action="@{/overboeken}" th:object="${transactionFormBean}" method="post" >  
                 
                    <div class="form-control">
                        <label for="amount">Bedrag</label>
                        <input th:field="*{amount}" id="amount" class="t-amount" type="text" pattern="\d{0,6}" placeholder="0" size="8" dir="rtl">
                        <label for="cents">,</label>
                        <input th:field="*{cents}" id="cents" class="t-cents" type="text" size="2" pattern="\d{2}" placeholder="00">
                        <small th:if="${insufficientFunds}">U heeft onvoldoende saldo op deze rekening</small>
                        <small id="amountError">Boek minimaal 1 cent over</small>
                    </div>
                    <div class="form-control">
                        <label  for="iban">Rekeningnummer (IBAN) ontvanger</label>
                        <input th:field="*{ibanCreditAccount}" id="iban" type="text" placeholder="NLxxPARQ0..." size="18" min="18" max="18">
                        <small th:if="${invalidCreditAccount}">Rekeningnummer is niet bij ons bekend</small>
                    </div>
                <div class="form-control">
                    <label for="description">Omschrijving</label>
                    <input th:field="*{description}" id="description" type="text" max="140" size="18">
                </div>
                <button type="submit">Volgende</button>
            </form>
        </div>
    </main>


</body>
</html>