<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Overzicht Particulier</title>
    <link th:href="@{/css/mkbtable.css}" href="../static/css/mkbtable.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


</head>
<body>
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
        <li class="nav-link"><a href="/personeel-home">Terug</a></li>
    </ul>

</nav>

<br><br><br><br>
<h1>Particuliere Rekeninghouders</h1>

        <table id="ranking-table" table class="content-table">
            <thead>
            <tr>
                <th>Nummer</th>
                <th>Klant</th>
                <th>Saldo</th>
                <th>Aantal Rekeningen</th>
            </tr>
            </thead>
            <tr th:each="key : ${richestCustomers.keySet()}">
                <td th:text="${key} + 1"></td>
                <td th:text="${richestCustomers.get(key)[0].firstName} + ' ' + ${richestCustomers.get(key)[0].affix} + ' ' + ${richestCustomers.get(key)[0].surName}"></td>
                <td th:text="'€ ' + ${#numbers.formatDecimal(richestCustomers.get(key)[1]/100.0, 0, 'POINT', 2, 'COMMA')}"></td>
                <td th:text="${richestCustomers.get(key)[2]}" class="accountsColumn"></td>
            </tr>

</table>

</body>
</html>