<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geselecteerde rekening</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<!--rekeningnummer, tenaamstelling, huidige datum en tijd, saldo
	op de rekening en een overzicht van de laatste 10 transacties.-->
<h4>Rekeningnummer:</h4>
<h4>Tenaamstelling:</h4>
<h4>Datum en tijd:</h4>
<h2>Saldo:</h2>
<h2>Transacties</h2>

</body>
</html>