<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Geselecteerde rekening</title>
        <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
        <link th:href="@{/css/accountview.css}" href="../static/css/accountview.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/javascript/selectedaccount.js" defer></script>

    </head>

    <body onload="startTime()">
        <!-- navigatie -->
        <nav class="navigation">
            <ul>
                <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{/logo-small.png}" alt="parque banque"></a></li>
                <li class="nav-link"><a  href="/uitloggen">Uitloggen</a></li>
                <li class="nav-link"><a  href="/rekening-overzicht">Rekeningoverzicht</a></li>
            </ul>
        </nav>

        <!-- body -->
        <main class="container">
            <h2>Rekening Details</h2>
            <h3 class="datetime"><span th:text="${datum}"></span> <span id="clock"></span></h3>

            <div class="accountinfo">
                <h3 th:if="${isCompany}"><span th:text="${businessName}"></span></h3>
                <h3><span th:text="${names}"></span></h3>
                <h3><span th:text="${iban}"></span></h3>
                <h3 class="balance"><span th:text="${saldo}"></span></h3>
            </div>

            <div class="buttons">
                <a href="/rekeninghouder-toevoegen"><button>Rekeninghouder toevoegen</button></a>
                <a href="/overboeken"><button>Geld overmaken</button></a>
            </div>

            <br>

            <h1>Transacties</h1>
            <table>
                <thead>
                    <tr>
                        <th>Bedrag</th>
                        <th>Datum</th>
                        <th>Van/naar</th>
                        <th>Beschrijving</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${transacties.empty}">
                    <td>Geen transacties</td>
                    </tr>
                    <tr th:each="transactie : ${transacties}">
                        <td th:text="${transactie.amount}"></td>
                        <td th:text="${transactie.date}"> </td>
                        <td th:text="${transactie.oppositeAccountIban}" ></td>
                        <td th:text="${transactie.description}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>