<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zakelijke klanten met het hoogste saldo</title>
    <link th:href="@{/css/mkbtable.css}" href="../static/css/mkbtable.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript" src="javascript/mkb_tables.js" defer ></script>
</head>

<body>
<nav class="navigation">
    <ul>
        <li class= "logo-link"><a id="logo" href="/"><img src="../static/logo-small.png" th:src="@{logo-small.png}" alt="parque banque"></a></li>
        <li class= "nav-link"><a href="/uitloggen">Uitloggen</a></li>
        <li class= "nav-link"><a href="/overzicht-bedrijven">Terug</a></li>
    </ul>
</nav>
<main>
    <br><br><br><br>
<h2>Zakelijke Klanten</h2>
<table id="mkb-list"  table class="content-table">
    <thead>
    <tr>
        <th>Nummer</th>
        <th>Klant</th>
        <th>Saldo</th>
        <th>Aantal Rekeningen</th>
    </tr>
    </thead>
    <tr th:each="key, index : ${richestBusinessCustomers.keySet()}">
        <td th:text="${index.count}"></td>
        <td th:text="${richestBusinessCustomers.get(key)[0].firstName} + ' ' + ${richestBusinessCustomers.get(key)[0].affix}
         + ' ' + ${richestBusinessCustomers.get(key)[0].surName}"></td>
        <td th:text="'€ ' + ${#numbers.formatDecimal(key/100.0, 0, 'POINT', 2, 'COMMA')}"></td>
        <td th:text="${richestBusinessCustomers.get(key)[1]}" ></td>
    </tr>
</table>

</main>
</body>
</html>