<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zakelijke klanten met hoogste saldo - Parque Banque</title>
    <link th:href="@{/css/mkbtable.css}" href="../static/css/mkbtable.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/park-bench-small.png}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
<a href="/uitloggen-personeel"><button>Uitloggen</button></a>
<a href="/personeel-home"><button>Terug</button></a>
<main>
<h2>Zakelijke Klanten</h2>
<table  table class="content-table">
    <thead>
    <tr>
        <th>Nummer</th>
        <th>Klant</th>
        <th>Saldo</th>
        <th>Aantal Rekeningen</th>
    </tr>
    </thead>
    <tr th:each="key, index : ${richestBusinessCustomers.keySet()}">
        <td th:text="${index.count}"></td>
        <td th:text="${richestBusinessCustomers.get(key)[0].firstName} + ' ' + ${richestBusinessCustomers.get(key)[0].affix}
         + ' ' + ${richestBusinessCustomers.get(key)[0].surName}"></td>
        <td th:text="'€ ' + ${#numbers.formatDecimal(key/100.0, 0, 'POINT', 2, 'COMMA')}"></td>
        <td th:text="${richestBusinessCustomers.get(key)[1]}" ></td>
    </tr>
</table>

</main>
</body>
</html>