<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zakelijke rekening openen</title>
</head>
<body>
<h1>Open een zakelijke rekening</h1>
<h2>De volgende bedrijven zijn bij ons bekend:</h2>
<p>Dropdown</p>
<!--Dropdown met bedrijfsnamen, uit DB halen o.b.v. koppeling klant&rekening -->
<p>Selecteer het bedrijf waarvoor u een nieuwe rekening wilt openen</p> <br>

<p>Wilt u een rekening openen voor een ander bedrijf? Meld dan eerst het bedrijf bij ons aan.</p>
<p>Button</p>
<!--Deze knop leidt naar een pagina waar Klant een nieuw bedrijf kan aanmelden-->

</body>
</html>