h1 {
    font-size: 20px;
    margin-left: 2em;
    font-family: "sans-serif"
}

form {
    margin: 2em;
}

input {
    margin-block: auto;
}

label {

}
.form1 {
    margin-left: 30px;
}
.form2 {
    margin-left: 30px;
}
button {
    margin-left: 30px;
    margin-top: 20px;
    border-radius:4px;
    background-color: #37ad49;
    color:white;
    border:none;
    height: 25px;}


.error_field{
    color: #FF0000;
    margin-top: 5px;
    font-size: small;

}


