.login-form {
    width: 350px;
    height: 400px;
    padding: 70px 40px;
    background: #37AD49;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%,-50%);
}
.error {
    display: inline-block;
    width: 85%;
    font-size: 13px;
    background: #FFFFFF;
    border: groove #FF0000;
    text-align: center;
    color: #000000;
    padding: 5px;
    margin-bottom: 5px;
}
.login-form .username_empty,
.login-form .password_empty {
    font-size: 14px;
    font-weight: bold;
    color: #C62828;
    text-align: center;
    margin-top: 4px;
    display: none;
}
label {
    display: inline-block;
    padding: 1px 1px;
    width: 220px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 3px;
}
input[type=text], input[type=password], select{
    display: inline-block;
    padding: 3px 3px;
    width: 220px;
    border: thin #FFFFFF;
    text-align: left;
    outline: none;
}
.loginbutton {
    display: inline-block;
    width: 20%;
    height: 7%;
    border-radius: 10px;
    border: none;
    color: #000000;
    cursor: pointer;
}
.loginbutton:hover{
    text-decoration: underline;
}
.text{
    font-size: 15px;
}