html{
      font-family: 'Montserrat', sans-serif;
}

header {
    
}

.logo-link {
    display: inline-block;
    
}

.navigation ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
     overflow: hidden;
    background-color: #37ad49;
    
}

li.nav-link {
    float: right;
    width: 125px;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    background:#37ad49;   
}

li.nav-link a:hover {
    border-bottom: 2px solid black;
}


main {
    display: flex;
    min-height: 500px;
    margin-top: 40px;
    margin-bottom: 0;

}

.main-content{

text-align: center;
    
}


footer {
    display: block;
    padding: 5px;
    margin: 0px;
    background-color: #2e2a2a;
    color: #fff;
}

.content-container{
    margin: auto;
    max-width: 1400px;
    font-size: 12px;
}

.footer-list {
    display: inline-block;
    list-style-type: none;
}

#footer-address{
  display: inline-block;

}

#footer-license{
    display: block;
    font-size:10px;

}

a {
    outline: none;
    text-decoration: none;
    color: white;
}




a.list-link{
    
}





