* {
    font-family: sans-serif;

}

.header-left{
    position: relative;
    left: 10%;
    font-family:Montserrat;
}

table tr:hover td {
    background-color: #37AD49;

}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 10%;


}

.content-table thead tr {
    background-color: #37AD49;
    color: #ffffff;
    text-align: left;
    font-weight: bold;


}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.active {
    background-color:#37AD49;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 3px solid black;
}

.button-group input[type=submit]{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 23px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    float: left;
    margin-top:   1%;
    position: relative;
    left: 10%;




}


