main {
    font-family: sans-serif;
}

button {
    background-color: #37AD49;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 105%;
}
        
button:hover {
    background-color: #2b8839;
}

div {
    position: relative;
    margin: 10px;
    display: inline-block;
    width: 680px;
    align-self: center;
}

form {
    width: 700px;
    margin: auto;
    border-style: outset;
    border-radius: 10px;
    border-color: #37AD49;
    background: #fafafa;
}

.formRow {
    width: 645px;
}

main {
    margin-top: 80px;
    margin-bottom: 100px;
}

.headInfo {
    margin-bottom: 10px;
    font-size: 1.1em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h1, p {
    width: 700px;
    margin: auto;
    text-align: center;
}

.formPartHeader {
    margin-left: -10px;
    border-bottom-style: groove;
    border-bottom-width: thin;
    margin-bottom: 5px;
    font-size: 1.3em;
}

label {
    margin: 5px;
    font-size: 1.2em;
}

input {
    border-radius: 4px;
    margin: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1em;
}

progress {
    border-radius: 4px;
}

.error {
    color: red;
    margin-right: 10px;
}

.content-container {
    display: inline;

}

footer {
    position: relative;
    bottom: 0;
    margin: 0;
    top: 10px;
}