main {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /*deze misschien weg als niet mooi gecentreerd*/
    margin: 0;
    
}

.container {
    background-color: #37ad49;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;   /*breedte van het formulier*/
    max-width: 100%;
    
}

.formheader {
    background-color: white;
    border-bottom: 1px solid white;
    padding: 20px 40px;
    
}


.formheader h2 {
    margin: 0;
    padding-left: 10%;
}

.debitIban {
    padding-left: 15%;
    font-size: 16px;
}

.form {
    padding: 30px 40px;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 20px;
    position: relative;

}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

#label-amount {
    display: block;
}

.form-control.succes input {
    border-color: #048226;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control input{
    border: 2px solid #2e2a2a;  /*kleur van de inputranden*/
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 95%;    /*breedte van inputvelden*/
    
}

input.t-amount {
    display: inline-block;
    width: 30%;
}

input.t-cents{
    display: inline-block;
    width: 15%;
}

/*Als er nog een vinkje of een aftellen komt in een balk dan dit:

maak een li

.form-control li {
position: absolute;
top: 40px;
right: 10px;
} */

.form-control small{
   /* visibility: hidden;*/
    position: absolute;
    color:#a80a0a;
    bottom: 0;
    left: 0;
}

.form button {
    background-color: #2e2a2a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #a9a9a9;
    border-radius: 4px;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%
}





